@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*,
*::before,
*::after,
html,
body {
  @apply font-cc-geist;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@utility common-heading {
  color: var(--color-cc-primary-2-800);
  font-weight: 600;
}

@utility common-paragraph {
  color: var(--color-cc-primary-2-400);
  font-size: var(--text-sm);
}
